<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Martin Lopez">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SirNoob97</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="img/gopher.png">

  <script type="text/javascript" src="js/email.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <img class="gopher" src="img/gopher.png" alt="Me in gopher version">
        <h1>Mart&iacute;n L&oacute;pez</h1>
        <p>Hello. This is a simple website where you will find my resumes, some links to get to know me, and a list of my favorite personal projects.</p>
        <div class="terminal">
          <p>
          <span class="prompt">
            <span class="arrow">➜</span> <span class="W">Me</span>
          </span>
          ls --color=auto -alht<br>
          total 131K<br>
          -rw-r--r--  1 martin martin &nbsp;41K nov 28 20:49  <a class="file" href="https://bit.ly/37oAWfz" target="_blank">Resume-ES</a><br>
          -rw-r--r--  1 martin martin &nbsp;42K nov 28 20:49  <a class="file" href="https://bit.ly/3pExvrt" target="_blank">Resume-EN</a><br>
          -rw-r--r--  1 martin martin &nbsp;20K nov 28 20:49  <a class="file" id="email" href="click:the.address.will.be.decrypted.by.javascript" onclick="openMailer(this);" target="_blank">Send-me-an-email</a><br>
          drw-r--r--  1 martin martin 4,0K nov 28 20:49  <a class="dir" href="https://github.com/SirNoob97" target="_blank">Github</a><br>
          drw-rw-r--  1 martin martin 4,0K nov 28 20:49  <a class="dir" href="https://github.com/SirNoob97/OnlineStore" target="_blank">Online-store</a><br>
          drw-rw-r--  1 martin martin 4,0K nov 28 20:49  <a class="dir" href="https://github.com/SirNoob97/website" target="_blank">Repo-of-this-page</a><br>
          drw-r--r--  1 martin martin 4,0K nov 28 20:49  <a class="dir" href="https://www.hackerrank.com/martinald467" target="_blank">Hackerrank</a><br>
          drw-r--r--  1 martin martin 4,0K nov 28 20:49  <a class="dir" href="https://www.linkedin.com/in/martlop-diaz" target="_blank">Linkedin</a><br>
          drw-r--r--  1 martin martin 4,0K nov 28 20:49 <span class="dir">..</span><br>
          drw-r--r--  1 martin martin 4,0K nov 28 20:49 <span class="dir">.</span><br>
          <span class="prompt">
            <span class="arrow">➜</span> <span class="W">Me</span>
          </span>
          &#x2588;
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <noscript>
        <span class="njs">Javascript is needed to send me emails with the link above</span>
      </noscript>
    </div>
  </div>
</body>

</html>
