.gopher{
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 50%;
  width: 25%;
  height: 25%;
}

@font-face{
  font-family: HackND;
  src: url(fonts/Hack-Regular-Nerd-Font-Complete.ttf);
}
@font-face{
  font-family: HackBND;
  src: url(fonts/Hack-Bold-Nerd-Font-Complete.ttf);
}
.terminal{
  padding: 10px;
  font-family: HackND;
  color: #fcfcfc;
  background: #282828;
  text-align: left;
  border-style: solid;
  border-color: #222255;
}
.terminal:hover{
  border-style: solid;
  border-color: #AAAA55;
}

.prompt,
.dir{
  font-family: HackBND;
}
.arrow{
  color: #4e9a06;
}
.W{
  color: #06989a;
}

a{
  text-decoration-line: none;
}
.dir {
  color: #3daee9;
}
.file {
  color: #fcfcfc;
}

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}

.njs{
  display: inline-block;
  margin-top: 5%;
  color: #fcfcfc;
  background-color: #000080;
  border-style: solid;
  border-width: 2px;
  border-color: #FF6F54;
  border-radius: 5px;
}
