.gopher{
  border: 2px solid white;
  border-radius: 50%;
}

.terminal{
  padding: 10px;
  font-family:Courier;
  color: #fcfcfc;
  background: #282828;
  text-align: left;
  border-style: solid;
  border-color: #222255;
}
.terminal:hover{
  border-style: solid;
  border-color: #AAAA55;
}

.prompt,
.dir{
  font-weight: bold;
}
.arrow{
  color: #4e9a06;
}
.W{
  color: #06989a;
}

a{
  text-decoration-line: none;
}
.dir {
  color: #3daee9;
}
.file {
  color: #fcfcfc;
}
.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
